/* body{
    background-color: crimson;
} */

*{
    margin: 0;
    padding: 0;

    /* box sizing thhis is always box color responsibe fiex */
    box-sizing: border-box;
}

/* shared style  */
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
         color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{

    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}


.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main sytle  */

.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url('../images/developer.png'), url('../images/header_bg.png'), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid  purple; */
    margin: 0px auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


#banner{
    /* border: 1px solid crimson; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{

    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


#banner .banner-image img{

    max-width: 585px;
    vertical-align: middle;
}

#about{

    padding-top: 130px;

}
#about .about-contaier{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}


#about .about-contaier .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}

.about-info .info-card h4{
    font-size: 20px;
}

